AppBolivar/pkgs/Wadl/Api_DNI.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://brazil-001.azure-apim.net/apim/api-5fdni-5fe77b83cdc7dbc871-5f2de0c21655bc2015" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Api_DNI" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Api_DNI">Altha App Bolivar Medic Api_DNI</doc>
  <grammars>
    <jsonTypes targetNamespace="https://brazil-001.azure-apim.net/apim/api-5fdni-5fe77b83cdc7dbc871-5f2de0c21655bc2015" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="DNI_responses_default_def_nombre_def" />
      <string name="DNI_responses_default_def_tipoDocumento_def" />
      <string name="DNI_responses_default_def_numeroDocumento_def" />
      <string name="DNI_responses_default_def_estado_def" />
      <string name="DNI_responses_default_def_condicion_def" />
      <string name="DNI_responses_default_def_direccion_def" />
      <string name="DNI_responses_default_def_ubigeo_def" />
      <string name="DNI_responses_default_def_viaTipo_def" />
      <string name="DNI_responses_default_def_viaNombre_def" />
      <string name="DNI_responses_default_def_zonaCodigo_def" />
      <string name="DNI_responses_default_def_zonaTipo_def" />
      <string name="DNI_responses_default_def_numero_def" />
      <string name="DNI_responses_default_def_interior_def" />
      <string name="DNI_responses_default_def_lote_def" />
      <string name="DNI_responses_default_def_dpto_def" />
      <string name="DNI_responses_default_def_manzana_def" />
      <string name="DNI_responses_default_def_kilometro_def" />
      <string name="DNI_responses_default_def_distrito_def" />
      <string name="DNI_responses_default_def_provincia_def" />
      <string name="DNI_responses_default_def_departamento_def" />
      <string name="DNI_responses_default_def_apellidoPaterno_def" />
      <string name="DNI_responses_default_def_apellidoMaterno_def" />
      <string name="DNI_responses_default_def_nombres_def" />
      <object name="DNI_responses_default_def">
        <property name="nombre" type="string" />
        <property name="tipoDocumento" type="string" />
        <property name="numeroDocumento" type="string" />
        <property name="estado" type="string" />
        <property name="condicion" type="string" />
        <property name="direccion" type="string" />
        <property name="ubigeo" type="string" />
        <property name="viaTipo" type="string" />
        <property name="viaNombre" type="string" />
        <property name="zonaCodigo" type="string" />
        <property name="zonaTipo" type="string" />
        <property name="numero" type="string" />
        <property name="interior" type="string" />
        <property name="lote" type="string" />
        <property name="dpto" type="string" />
        <property name="manzana" type="string" />
        <property name="kilometro" type="string" />
        <property name="distrito" type="string" />
        <property name="provincia" type="string" />
        <property name="departamento" type="string" />
        <property name="apellidoPaterno" type="string" />
        <property name="apellidoMaterno" type="string" />
        <property name="nombres" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://brazil-001.azure-apim.net/apim/api-5fdni-5fe77b83cdc7dbc871-5f2de0c21655bc2015">
    <resource path="/{connectionId}/dni">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="DNI" actionName="DNI" siena:isDeprecated="false">
        <doc title="DNI&#xA;DNI" />
        <request>
          <param style="query" name="numero" type="xs:string" required="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:DNI_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_api-5fdni-5fe77b83cdc7dbc871-5f2de0c21655bc2015" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>